body {
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, purple, white);
    letter-spacing: .4em;
}

h3 {
    font-size: .8em;
    letter-spacing: .1em;
}